<%= render 'layouts/errors', object: @ticket %>

<%= form_for @ticket, remote: true do |f| %>
  <section>
    <h3>Create Ticket</h3>
    <%= f.label :uw_name do %>
      <%= content_tag(:span, "UW Name:") %>
      <%= f.text_field :uw_name %>
    <% end %>
    <%= f.label :loan_number do %>
      <%= content_tag(:span, "Loan Number:") %>
      <%= f.text_field :loan_number %>
    <% end %>
    <%= f.label :notes do %>
      <%= content_tag(:span, "2nd Signature:") %>
      <%= f.check_box :second_signature %>
    <% end %>
    <%= f.submit %>
  </section>
<% end %>
