<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
      <ul>
        <li><%= link_to "Queue", tickets_path %></li>
        <li><%= link_to "New Ticket", new_ticket_path %></li>
      </ul>
    </nav>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>

  </body>
</html>
